/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

 / {
	chosen {
		ncs,slm-uart = &uart0;
	};
};

&uart0 {
	status = "okay";
	//hw-flow-control;
};

&uart1 {
    status = "disabled";
};

&uart2 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&sim_select {
    sim = "esim";
};